.bg-stars {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.bg-stars.dart-mode {
  background-color: #000;
}
.bg-stars.light-mode {
  background-color: #fff;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
.bg-stars.dart-mode .header {
  background-color: rgb(57, 54, 54, 0.3);
}

.bg-stars.light-mode .header {
  background-color: rgb(237, 237, 237, 0.3);
}

.header .logo {
  font-size: 30px;
  font-weight: bold;
}
.bg-stars.dart-mode .header .logo {
  color: #fff;
}
.bg-stars.dart-mode .logo .thinh {
  color: #00ffff; /* Thay đổi màu chữ thành màu xanh cho từ "thinh" */
}

.bg-stars.light-mode .header .logo {
  color: #000;
}
.bg-stars.light-mode .logo .thinh {
  color: #2aabd5; /* Thay đổi màu chữ thành màu xanh cho từ "thinh" */
}

.header .nav {
  display: flex;
  align-items: center;
  margin-right: -20%;
}

.header .nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  /* In đậm chữ */
}
.bg-stars.dart-mode .header .nav a {
  color: #fff;
}
.bg-stars.light-mode .header .nav a {
  color: #000;
}

.bg-stars.dart-mode .header .nav a:hover {
  color: #00ffff;
}
.bg-stars.light-mode .header .nav a:hover {
  color: #2aabd5;
}

.header .moon-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20%;
}
.bg-stars.dart-mode .header .moon-icon {
  text-shadow: 0 0 15px #2fcccc;
}
.bg-stars.dart-mode .header .moon-icon {
  color: #00ffff;
}
.bg-stars.light-mode .header .moon-icon {
  color: #000;
}

/* click vao chu  thay doi mau phan   <nav class="nav"> */
.bg-stars.dart-mode .clicked_toi {
  color: #00ffff !important; /* Màu cam sáng */
}

.bg-stars.light-mode .clicked_sang {
  color: #2aabd5 !important; /* Màu cam sáng */
}

/* #night-sky {
  width: 100%;
  height: 100%;
   background-color: #000; 
  position: relative;
} */

.bg-stars.dart-mode .star {
  width: 1px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main {
  margin-bottom: 50px;
}
.bg-stars.dart-mode .main {
  color: #ffffff;
}

.bg-stars.light-mode .main {
  color: #000;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  font-size: 24px;
}
.bg-stars.dart-mode .menu-icon i {
  color: #fff;
}
.bg-stars.light-mode .menu-icon i {
  color: #000;
}

.main {
  font-family: "Arial", sans-serif;
  max-width: 100%;
  /* max-width: 800px;
  margin: 0 auto;
  padding: 20px; */
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.about-me h1 {
  margin-right: 10px;
}

.about-me hr {
  flex-grow: 1;
  border: 0;

  margin: 0;
}
.bg-stars.dart-mode .about-me hr {
  border-top: 2px solid #55e3e3;
}

.bg-stars.light-mode .about-me hr {
  border-top: 2px solid #2aabd5;
}
.intro {
  margin: auto;
  width: 55%;
  height: 40%;
  margin-top: 20px;

  border-radius: 10px;
  padding: 15px 30px 50px 40px;
  /* display: flex;
  align-items: center;
  margin-bottom: 20px; */
}
.bg-stars.dart-mode .intro {
  background-color: rgba(60, 57, 57, 0.5);
}
.bg-stars.light-mode .intro {
  background-color: rgb(237, 237, 237, 0.5);
}
.intro-content {
  display: flex;
  justify-content: space-evenly;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.bg-stars.dart-mode .profile-img {
  border: solid 5px rgba(80, 235, 232, 0.9);
}
.bg-stars.light-mode .profile-img {
  border: solid 5px rgba(85, 183, 228, 0.9);
}
.intro-text {
  max-width: 600px;
}

.skills {
  margin-top: 20px;
}

.skills-header {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin: auto;

  max-width: 59%;
  position: relative;
  margin-top: 35px;
}

.skills-header h2 {
  margin: 0 10px;
}

.skills-header .dashed1 {
  flex-grow: 1;
  margin-right: 5px;
}

.skills-header .dashed2 {
  flex-grow: 15;
  margin-left: 5px;
}
@keyframes brightEffect {
  0% {
    background-color: rgba(255, 255, 255, 0); /* Màu trong suốt */
  }
  50% {
    background-color: rgb(24, 176, 181); /* Màu sáng */
  }
  100% {
    background-color: rgba(255, 255, 255, 0); /* Màu trong suốt */
  }
}
@keyframes brightEffect2 {
  0% {
    background-color: rgba(255, 255, 255, 0); /* Màu trong suốt */
  }
  50% {
    background-color: rgb(41, 152, 216); /* Màu sáng */
  }
  100% {
    background-color: rgba(255, 255, 255, 0); /* Màu trong suốt */
  }
}

/* Áp dụng hiệu ứng cho .dashed */
.skills-header .dashed {
  border: 0;
  border-top: 2px dashed transparent; /* Đặt màu trong suốt cho nét đứt */
  position: relative;
}
.bg-stars.dart-mode .skills-header .dashed {
  animation: brightEffect 2s linear infinite; /* Áp dụng animation */
}
.bg-stars.light-mode .skills-header .dashed {
  animation: brightEffect2 2s linear infinite; /* Áp dụng animation */
}
.skills-container {
  margin: auto;
  width: 59%;
  margin-top: 16px;
}
.skills-container .category {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  /* margin-left: 100px; */
}
.skills-container .category .skills-category {
  margin-right: 20px;
  cursor: pointer;
}

.skills-container .category .skills-category h3:hover {
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  /* box-shadow: 60 60 60px rgba(62, 61, 61, 0.8); */
}
.bg-stars.dart-mode .skills-container .category .skills-category h3:hover {
  border: solid 2px rgba(62, 61, 61, 0.8);
}
.bg-stars.light-mode .skills-container .category .skills-category h3:hover {
  border: solid 2px rgba(21, 162, 205, 0.8);
}
.skills-container .category .skills-category h3 {
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
}

.bg-stars.light-mode .ActiveCategory {
  background-color: rgba(21, 162, 205, 0.8);
  color: #fff;
}
.bg-stars.dart-mode .ActiveCategory {
  background-color: rgba(62, 61, 61, 0.8);
}
.skills-list .item {
  /* padding: 15px 20px; */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Canh theo trục dọc */
  justify-content: center; /* Canh theo trục ngang */
}
.bg-stars.light-mode .skills-list .item {
  border: 2px solid rgba(21, 162, 205, 0.8);
}
.bg-stars.dart-mode .skills-list .item {
  border: 2px solid #93b6b6;
}
.skills-list .item img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  order: -1;
  margin-right: 10px;
}

.skills-list.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.skills-list.Tools {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.skills-list {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .main {
    z-index: 0;
    /* flex-direction: column-reverse; */
    /* text-align: star; */
  }
  .menu-icon {
    display: block;
  }

  .header .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Điều chỉnh tùy thuộc vào chiều cao header */
    left: 0px;

    width: 100%;
    height: 800px;

    z-index: 1;
  }
  .bg-stars.dart-mode .header .nav {
    background-color: rgba(0, 0, 0, 0.9); /* Màu nền của menu */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Tăng độ bóng */
  }
  .bg-stars.light-mode .header .nav {
    background-color: rgba(238, 236, 236, 0.8); /* Màu nền của menu */
    box-shadow: 0 4px 20px rgba(224, 222, 222, 0.855); /* Tăng độ bóng */
  }
  .header #nav-menu a {
    margin-top: 10px;
    margin-left: 55px;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .header .logo {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Hiển thị menu khi được nhấp vào */
  .header .nav.active {
    display: flex;
  }

  .intro-content {
    /* display: flex; */
    flex-direction: column;
  }
  .intro-content img {
    margin: auto;
  }
  .intro-content .intro-text {
    margin: auto;
    margin-top: 10px;
  }

  .skills-list.technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .skills-list.Tools {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
